.cache
.config
.ipynb_checkpoints
.ipython
.jupyter
.keras
.local
.ssh
.virtualenvs
.vscode
.vscode-server-insiders
.bash_history
.bashrc
.my.config.profile
.pythonstartup.py
.viminfo
.vimrc
.wget-hsts
.my.cnf
__pycache__
.profile
.supermaven
# ignore these in static folder for site
mysite/static/presentation_graphs/
mysite/static/AlvaroCantuCV.pdf
mysite/static/data_structure_diagram.png
mysite/static/presentation.pdf
# ignores all stock report pdf's and directories
mysite/static/stock_report*
