.cache
.config
.ipynb_checkpoints
.ipython
.jupyter
.keras
.local
.ssh
.virtualenvs
.vscode
.vscode-server-insiders
.bash_history
.bashrc
.my.config.profile
.pythonstartup.py
.viminfo
.vimrc
.wget-hsts
.my.cnf
__pycache__
